body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;  
  margin: 0;
  padding: 0;
  background-color: tan;
}

.nav-link {
  color: #8B4513; 
  transition: color 0.3s; 
}

h1 {
  font-family: 'Abril Fatface', serif;
  font-size: 46px; 
  color:#8B4513; 
}

.carousel-container {
  width:100%;
}

.carousel-item img {
  object-fit: contain;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.carousel-caption h3 {
  color: #fff;
  font-weight: bold;
}

.carousel-caption p {
  color: #f8f9fa;
  font-style: italic;
}

.carousel-control-prev,
.carousel-control-next {
  width: 4%;
}

.carousel-indicators button {
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 5px;
}

.carousel-indicators .active {
  background-color: black;
}

.testimonial-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 0 auto;
}




/* About Us */

.nav-pills .nav-link.active {
  background-color: brown; 
  color: white; 
}

.nav-pills .nav-link.hover {
  background-color: brown; 
  color: white; 
}

/* Locations */

.card {
  height: 75%; 
  width: 75%;
  margin: auto;
}


